<a href="https://colab.research.google.com/github/SaketMunda/cnn-computer-vision-introduction/blob/master/cnn_exercises_with_tensor_flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Convolutional Neural Network Exercises with TensorFlow

This notebook contains some of the exercises done for the topic Convolutional Neural Network using TensorFlow

## Exercise 1.  Build your own CNN Image Classifier

Take 10 photos of two different things and build your own CNN image classifier using the techniques we've built here during the learning section.

[Refer Notebook](https://colab.research.google.com/drive/1BGFI5WdRlSD0ukKJ4olBGboC7ZfOukDV)

Before starting exploring the data we need to extract the data from somewhere, so I'm taking image data from [Unsplash](unsplash.com).

They provide free lite version named as `Unsplash Lite Dataset 1.2.0` to practice from [`unsplash.com/data`](unsplash.com/data)

### 1. Unzip Data

In [3]:
import zipfile

# unzip the zip file
zip_ref = zipfile.ZipFile('drive/MyDrive/Data Science/CNNExercise/unsplash-research-dataset-lite-latest.zip')
zip_ref.extractall()
zip_ref.close()

### 2. Inspect the data

In [4]:
# Import libraries
import pandas as pd
import numpy as np
import glob

#### Loading the dataset in pandas

In [5]:
documents = ['collections', 'photos', 'colors', 'conversions', 'keywords']
datasets = {}

for doc in documents:
  files = glob.glob(doc + ".tsv*")

  subsets = []
  for filename in files:
    df = pd.read_csv(filename, sep='\t', header=0)
    subsets.append(df)
  
  datasets[doc] = pd.concat(subsets, axis=0, ignore_index=True)

#### Exploring the datasets

In [17]:
# explore photos
datasets['photos'].head(1).T

                                                                                0
photo_id                                                              XMyPniM9LF0
photo_url                                 https://unsplash.com/photos/XMyPniM9LF0
photo_image_url                 https://images.unsplash.com/uploads/1411949294...
photo_submitted_at                                     2014-09-29 00:08:38.594364
photo_featured                                                                  t
photo_width                                                                  4272
photo_height                                                                 2848
photo_aspect_ratio                                                            1.5
photo_description                                        Woman exploring a forest
photographer_username                                           michellespencer77
photographer_first_name                                                  Michelle
photographer_last_name                                                    Spencer
exif_camera_make                                                            Canon
exif_camera_model                                              Canon EOS REBEL T3
exif_iso                                                                    400.0
exif_aperture_value                                                           1.8
exif_focal_length                                                            50.0
exif_exposure_time                                                          1/100
photo_location_name                                                           NaN
photo_location_latitude                                                       NaN
photo_location_longitude                                                      NaN
photo_location_country                                                        NaN
photo_location_city                                                           NaN
stats_views                                                               2375421
stats_downloads                                                              6967
ai_description                              woman walking in the middle of forest
ai_primary_landmark_name                                                      NaN
ai_primary_landmark_latitude                                                  NaN
ai_primary_landmark_longitude                                                 NaN
ai_primary_landmark_confidence                                                NaN
blur_hash                                            L56bVcRRIWMh.gVunlS4SMbsRRxr

Open any random image to view the type of image

In [18]:
photo_url = datasets['photos']['photo_image_url'][0]

In [19]:
photo_url

'https://images.unsplash.com/uploads/14119492946973137ce46/f1f2ebf3'

In [23]:
from PIL import Image
import urllib.request

urllib.request.urlretrieve(photo_url, "photo1.jpg")
img = Image.open("photo1.jpg")
img.show()